body {
    background-color: rgba(0, 0, 0, 0.897);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
h1 {
    color: white;
}
p {
    color: white;
}
a {
    color: white;
    text-decoration: none;
}